.top_product_sliders_container{
    display: flex;
    gap: 30px;
}

.top_product_slider{
    width: 280px;
}

.top_product_slider .products{
    display: flex;
    gap: 30px;
    overflow: auto;
    overflow-x: scroll;
    scroll-snap-type: inline mandatory;
}

.single_new_arrival_product{
    min-width: 270px;
    padding: .4rem .7rem;
    display: flex;
    align-items: center;
    background-color: var(--white);
    margin: 15px;
    scroll-snap-align: center;
    outline: 1px solid var(--cultured);
    border-radius: 10px;
    cursor: pointer;
}

.single_new_arrival_product .image{
    margin-right: 20px;
    width: 80px;
    height: 80px;
}

.single_new_arrival_product .image img{
    height: 100%;
}

.single_new_arrival_product_name{
    color: var(--onyx);
    font-weight: var(--fw-500);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 150px; 
}

.top_product_slider .header p{
    color: var(--onyx);
    font-size: var(--fs-20);
    margin: 0px 20px;
    padding-bottom: .5rem;
    border-bottom: 2px solid var(--cultured);
}

.single_new_arrival_product_type{
    color: var(--gray);
    font-size: var(--fs-14);
}

.single_new_arrival_product_price{
    color: var(--pink);
    font-weight: var(--fw-500);
}


@media screen and (max-width: 1240px) {
    .top_product_sliders_container{
        gap: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .single_new_arrival_product .image{
        width: 70px;
        height: 70px;
    }
    .top_product_slider{
        width: 270px;
    }
}

@media screen and (max-width: 1130px) {
    .top_product_slider{
        width: 250px;
    }
    .single_new_arrival_product{
        min-width: 240px;
    }
    .single_new_arrival_product_name{
        width: 125px; 
    }
}

@media screen and (max-width: 1070px) {
    .top_product_slider{
        width: 235px;
    }
    .single_new_arrival_product{
        min-width: 225px;
    }
    .single_new_arrival_product_name{
        width: 120px; 
    }
}

@media screen and (max-width: 1024px) {
    .top_product_slider{
        width: 290px;
    }
    .single_new_arrival_product{
        min-width: 285px;
    }
    .single_new_arrival_product_name{
        width: 165px; 
    }
}

@media screen and (max-width: 1024px) {
    .top_product_sliders_container{
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }
}

@media screen and (max-width: 655px) {
    .top_product_slider{
        width: 90vw;
    }
    .single_new_arrival_product{
        min-width: 84vw;
    }
    .single_new_arrival_product_name{
        width: 300px; 
    }
}

@media screen and (max-width: 460px) {
    .single_new_arrival_product_name{
        width: 250px; 
    }
}

@media screen and (max-width: 420px) {
    .single_new_arrival_product_name{
        width: 200px; 
    }
}

@media screen and (max-width: 370px) {
    .single_new_arrival_product_name{
        width: 150px; 
    }
}

@media screen and (max-width: 310px) {
    .single_new_arrival_product_name{
        width: 100px; 
    }
}



